/* old version V */
header{
    border-radius: 20px;
    margin: 20px;
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    justify-content: space-evenly;
    background: antiquewhite;
}

div{

    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}

nav{

    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

}

input{

    width: 80%;
    align-self: center;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;

}

a{

    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{

    width: 80%;
    align-self: center;
    border: blue 2px outset;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}

.ultra{

    width: 80%;
    align-self: center;
    border: yellow 2px outset;
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}

#getThatPokemon{

    width: 40%;
    align-self: center;
    border: red 2px outset;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;

}

.pokemon{

    border-radius: 20px;
    margin: 20px;
    padding: 0px;
    border: 2px solid black;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;

}

img{

    width:100px;
    align-self: center;

}

h1{

    align-self: center;

}

h2{

    align-self: center;

}

h3{

    align-self: center;
    
}

p{

    align-self: center;

}

.normal{

    background-image: radial-gradient(beige,rgb(237, 249, 201),antiquewhite),linear-gradient(blue,green);

    background-blend-mode: screen;

}

.fire{

    background-image: linear-gradient(red,red,red), linear-gradient(orange,yellow,red);

    background-blend-mode: screen;

}

.water{

    background-image: repeating-radial-gradient(blue,rgb(58, 177, 201),rgb(58, 177, 201),blue,blue,blue), linear-gradient(green,yellow);

    background-blend-mode: screen;

}

.grass{

    background-image: linear-gradient(green, green, lime),radial-gradient(beige,green);

    background-blend-mode: hue;

}

.flying{

    background-image: radial-gradient(white,lime,white,green),linear-gradient(blue,purple);

    background-blend-mode: lighten;

}

.fighting{

    background-image: linear-gradient(to bottom left, orange, darkred 65%),linear-gradient(to bottom right, orange, darkred 65%);

}

.poison{

    background-image: radial-gradient(plum,purple),linear-gradient(to right, black, purple, black 98%);

    background-blend-mode: luminosity;

}

.electric{

    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 238, 0)),
    linear-gradient(to right, #000000, #feeb39);
    
    background-blend-mode: screen;

}

.ground{

    background-color: rgb(209, 114, 5);
    background-image: url(https://t4.ftcdn.net/jpg/01/07/76/85/360_F_107768523_jtL7cY9ajSRuTJmCfj4SAhTF8cebX317.jpg);
    
    background-blend-mode: screen;

}

.rock{

    background-color: peru;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Iqi_Yq9YkI9JJ3y5CrgMS6Rmd0p0jUPAMA&s);
    background-size: cover;
    color: white;
    background-blend-mode: darken;

}

.rock>h2{

    background: rgba(0, 0, 0, .5);

}

.rock>p{

    background: rgba(0, 0, 0, .5);

}

.psychic{

    background-image: linear-gradient(to top right, blue, cyan, green),radial-gradient(orange, red);

    background-blend-mode: difference;

}

.ice{

    background-image: linear-gradient(to top left, blue, cyan),radial-gradient(snow,black);

    background-blend-mode: screen;

}

.bug{

    background-image: url(https://pokemongohub.net/wp-content/uploads/2019/01/Bug-Types.jpg);
    background-size: 150%;

}

.ghost{

    background-image: radial-gradient(white, grey,white),linear-gradient(grey,black,grey);

    background-blend-mode: overlay;

    color: plum;

}

.steel{
    
    background-image: linear-gradient(to right, steelblue,lightgrey), linear-gradient(steelblue,darkgray);

    background-blend-mode: color-burn;

}

.dragon{

    background-image: linear-gradient(to top left, cyan, coral, cyan),linear-gradient(to top right, coral, cyan,coral);

    background-blend-mode: color;

}

.dark{

    background-image: radial-gradient(white, grey ,black, white),linear-gradient(to top right, rgb(85, 0, 85),rgb(5, 68, 119));

    background-blend-mode: exclusion;

}

.fairy{
    
    background-image: linear-gradient(to top left, blue, coral),linear-gradient(to top right, coral, blue);

    background-blend-mode: color-dodge;

} 